form {
    margin: auto;
    position: absolute;
    top: 42%;
    left: 42%;
}

span {
  margin: auto;
  position: absolute;
  top: 68%;
  left: 38%;
}

input{
    padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
button{
     /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;
  /* usual styles */
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100%;
}